.navbarItem.selected {
    -fx-background-color: #6ebcfd;
}

.navbarItem:hover {
    -fx-background-color: #6ebcfd;
    -fx-cursor: hand;
}


.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}