#tabpane {
    -fx-tab-min-width: 1em;
    -fx-tab-max-width: 1em;

    -fx-tab-min-height: 5em;
    -fx-tab-max-height: 5em;

    -fx-padding: 0 -1 -1 0;
}

.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: #EBEAF0;
}

.tab {
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0 30 0 30;
}

.tab:selected {
    -fx-background-color: #FAFCFB;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border_width: 5 0 0 0;
    -fx-border-color: #3FE387;
}

.tab:focused {
    -fx-focus-color: transparent;
}

.tab-pane *.tab-header_background {
    -fx-background-color: transparent;
}

.tab-pane:left *.tab-header-area {
    -fx-background-insets: 0, 0 0 10;
    -fx-padding: 0 0 0 0;
}